[Unit]
Description=Payment Service

[Service]
User=root
WorkingDirectory=/app
Environment=CART_HOST=dev-cart.devopskumar.site
Environment=CART_PORT=8080
Environment=USER_HOST=dev-user.devopskumar.site
Environment=USER_PORT=8080
Environment=AMQP_HOST=dev-rabbitmq.devopskumar.site
Environment=AMQP_USER=roboshop
Environment=AMQP_PASS=roboshop123

ExecStart=/usr/local/bin/uwsgi --ini payment.ini
ExecStop=/bin/kill -9 $MAINPID
SyslogIdentifier=payment

[Install]
WantedBy=multi-user.target